.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 50px;


    .title {
        padding : 50px;
        margin : 50px;
        border-radius: 8px;



        .title-content {
            text-align: center;
            font-weight: 900;
            font-style: italic;
            font-size: 48px;
            animation: animate 600ms;
        }

        .sub-title {
            text-align : center;
            font-weight: 300;
            font-style: italic;

            &::after {
                content: "";
                background-color: var(--text-color);
                padding: 5px;
                margin: 5px;
                opacity: 0.8;
            }
        }

        .about {
            border : red solid 2px;
            background-color: white;
            display: flex;
            justify-self: center;
        }
    }
    
}

footer {
    // background-color : var(--primary-color);
    color : var(--text-secondary-color);

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width : 768px) {
    .content {
        padding : 0px;
        
        .title {
            padding : 20px;
            margin : 0px;
        }
    }
}



@keyframes animate {
    0% {
        transform: translateY(-50%);
        opacity : 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}