<div class="container content">
    <div class="title">
        <h3 class="title-content">
            <span style="color : var(--primary-color)">R</span>apid <span style="color : var(--primary-color)">R</span>ecap
        </h3>
        <h6 class="sub-title">
            {{catchPhrase}}
        </h6>
        <p-toolbar>
            <div class="p-toolbar-group-start"></div>
            <div class="p-toolbar-group-center">
                <p-button label="Light Mode" styleClass="p-button-text" (click)="toggleTheme('light-mode')" ></p-button>
                <p-button label="Dark Mode" styleClass="p-button-secondary p-button-text" (click)="toggleTheme('dark-mode')"></p-button>
            </div>
            <div class="p-toolbar-group-end"></div>
        </p-toolbar>
        <div class="show-dialog">
            <button (click)="showInfo()" pButton pRipple class="p-button-rounded p-button-help"> Wanna know more about the app? </button>
        </div>
        <p-messages [(value)]="online" [enableService]="false" [closable]="true"></p-messages>
    </div>
    
    <hr class="m-1">
        <p-tabView [style]="{'margin' : '50px'}">
            <p-tabPanel header="Summarize Video">
                <app-video-summary [modelAwake]="modelAwake"></app-video-summary>
            </p-tabPanel>
            <p-tabPanel header="Summarize File">
                <app-file-summary [modelAwake]="modelAwake"></app-file-summary>
            </p-tabPanel>
        </p-tabView>
</div>

<hr>    

<footer>
    <div class="mt-3 text-center">
        About Me
    </div>
    <div class="m-3">
        <p-toolbar>
            <div class="p-toolbar-group-start">
            </div>
            <div class="p-toolbar-group-center">
                <a pButton pRipple href="https://www.linkedin.com/in/diljith-p-dileep-815716250" target="_blank" icon="pi pi-linkedin" class="mr-2"></a>
                <a pButton pRipple href="https://github.com/th3bossc" target="_blank" icon="pi pi-github" class="p-button-success mr-2"></a>
                <a pButton pRipple href="mailto:diljith2003@gmail.com" target="_blank" icon="pi pi-send" class="p-button-danger mr-2"></a>
                <a pButton pRipple href="http://myprojects--diljithdileep.repl.co/" target="_blank" icon="pi pi-link" class="p-button-help"></a>
            </div>
            <div class="p-toolbar-group-end">
            </div>
        </p-toolbar>
    </div>
</footer>
