.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 50px;
    margin : 50px;


    .title {
        padding : 50px;
        margin : 50px;
        border-radius: 8px;
        .title-content {
            text-align: center;
            font-weight: 900;
            font-style: italic;
            font-size: 48px;
        }

        .about {
            border : red solid 2px;
            background-color: white;
            display: flex;
            justify-self: center;
        }
    }
}

footer {
    // background-color : var(--primary-color);
    color : var(--text-secondary-color);

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width : 768px) {
    .content {
        padding : 0px;
        margin : 20px 4px;
        
        .title {
            padding : 20px;
            margin : 0px;
        }
    }
}
